{% extends "evaluator/base.html" %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>HOME</h2>
        </div>

        <!-- Widgets -->
        <div class="row clearfix">
            {% if perms.main.view_departments %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">business_center</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL DEPARTMENTS</div>
                        <div class="number count-to" data-from="0" data-to="{{ departments }}" data-speed="15" data-fresh-interval="20">{{ departments }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if perms.main.view_designations %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">kitchen</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL DESIGNATIONS</div>
                        <div class="number count-to" data-from="0" data-to="{{ designations }}" data-speed="1000" data-fresh-interval="20">{{ designations }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if perms.user.view_user %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL USERS</div>
                        <div class="number count-to" data-from="0" data-to="{{ users }}" data-speed="1000" data-fresh-interval="20">{{ users }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row clearfix">
            {% if perms.evaluator.view_task %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL TASKS</div>
                        <div class="number count-to" data-from="0" data-to="{{ tasks.count }}" data-speed="15" data-fresh-interval="20">{{ tasks.count }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if user.employee %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-custom4 hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">PENDING TASKS</div>
                            <div class="number count-to" data-from="0" data-to="{{ pending_tasks.count }}" data-speed="15" data-fresh-interval="20">{{ pending_tasks.count }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-custom4 hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">IN-PROGRESS TASKS</div>
                            <div class="number count-to" data-from="0" data-to="{{ inprogress_tasks.count }}" data-speed="15" data-fresh-interval="20">{{ inprogress_tasks.count }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if perms.main.view_employees %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">sentiment_very_satisfied</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL EMPLOYEES</div>
                        <div class="number count-to" data-from="0" data-to="{{ employees }}" data-speed="1000" data-fresh-interval="20">{{ employees }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if perms.main.view_evaluators %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL EVALUATORS</div>
                        <div class="number count-to" data-from="0" data-to="{{ evaluators }}" data-speed="1000" data-fresh-interval="20">{{ evaluators }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if user.evaluator %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL EVALUATIONS</div>
                        <div class="number count-to" data-from="0" data-to="{{ total_eval|length }}" data-speed="1000" data-fresh-interval="20">{{ total_eval|length }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="info-box bg-custom4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <div class="content">
                        <div class="text">PENDING EVALUATIONS</div>
                        <div class="number count-to" data-from="0" data-to="{{ pending_eval|length }}" data-speed="1000" data-fresh-interval="20">{{ pending_eval|length }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        <!-- #END# Widgets -->
        <!-- <div class="row clearfix"> -->
            <!-- Visitors -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-pink">
                        <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                             data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                             data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                             data-fill-Color="rgba(0, 188, 212, 0)">
                            12,10,9,6,5,6,10,5,7,5,12,13,7,12,11
                        </div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- #END# Visitors -->
            <!-- Latest Social Trends -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-cyan">
                        <div class="m-b--35 font-bold">LATEST SOCIAL TRENDS</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                #socialtrends
                                <span class="pull-right">
                                    <i class="material-icons">trending_up</i>
                                </span>
                            </li>
                            <li>
                                #materialdesign
                                <span class="pull-right">
                                    <i class="material-icons">trending_up</i>
                                </span>
                            </li>
                            <li>#adminbsb</li>
                            <li>#freeadmintemplate</li>
                            <li>#bootstraptemplate</li>
                            <li>
                                #freehtmltemplate
                                <span class="pull-right">
                                    <i class="material-icons">trending_up</i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- #END# Latest Social Trends -->
            <!-- Answered Tickets -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-teal">
                        <div class="font-bold m-b--35">ANSWERED TICKETS</div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                LAST MONTH
                                <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                LAST YEAR
                                <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                            </li>
                            <li>
                                ALL
                                <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- #END# Answered Tickets -->
        <!-- </div> -->

        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>LATEST TASKS</h2>
                        <!-- <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Task</th>
                                        {% if user.is_superuser or user.evaluator %}
                                            <th>Employee</th>
                                        {% endif %}
                                        {% if user.is_superuser %}
                                            <th>Evaluator</th>
                                        {% endif %}
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in latest_tasks %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ task.name }}</td>
                                            {% if user.is_superuser or user.evaluator %}
                                                <td>{{ task.assigned_to }}</td>
                                            {% endif %}
                                            {% if user.is_superuser %}
                                                <td>{{ task.evaluator }}</td>
                                            {% endif %}
                                            <td>
                                                <span class="badge {% if task.status == 'pending' %}bg-orange{% elif task.status == 'in progress' %}bg-cyan{% elif task.status == 'complete' %}bg-green{% endif %}">
                                                    {{ task.status }}
                                                </span>
                                                {% if task.due_date < date and task.status != "complete" %}
                                                    <span class="badge bg-red">Overdue</span>
                                                {% endif %}
                                                {% if task.status == "complete" %}
                                                    {% if user.is_superuser or user.evaluator %}
                                                        {% if task.evaluation %}
                                                        <span class="badge bg-teal">Evaluated</span>
                                                        {% else %}
                                                        <span class="badge bg-blue-grey">Not Evaluated</span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <!-- <td> -->
                                                <!-- <div class="progress">
                                                    <div class="progress-bar bg-green progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                        Pending
                                                    </div>
                                                </div> -->
                                            <!-- </td> -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Task Info -->
        </div>
    </div>
</section>

{% endblock %}