#main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 0px;
}

#main_login {
    flex: 1 0 70%;
    width: 70%;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}

label[for="email"], label[for="password"] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#email, #password {
    width: 100%;
    border-radius: 0px;
    margin-top: 5px;
}

#forgot_pass {
    margin-top: 15px;
    color: #6d6d6d;
}

#forgot_pass:hover {
    color: #007bff;
}

.row_submit {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 40px;
}

input[type=checkbox] {
    margin-right: 10px;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

label[for="remember_me"] {
    color: #6d6d6d;
    padding: 0px 0px;
    height: 22px;
    flex: 0 1 auto;
    width: fit-content;
}

label[for="remember_me"]:hover {
    cursor: pointer;
}

button {
    height: 50px;
    width: 50%;
    border-radius: 35px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
}

button:hover {
    background-color: #2a8af1;
    color: #ffffff;
}

.sign_up {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.sign_up_header {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.sign_up_btn {
    width: 100%;
    box-sizing: border-box;
    line-height: 46px;
    border-radius: 50px;
    padding-bottom: 0px;
    font-size: 14px;
    height: 50px;
    color: #616467;
    border: 2px solid #616467;
}
.sign_up_btn:hover {
    color: #ffffff;
    background-color: #616467;
    border: 0px solid #616467;
}